body {
       display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed; /* Makes the sidebar fixed */
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Adjust the width as needed */
    background-color: #644537;
    color: white;
    padding-top: 20px;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
}

.sidebar-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  background-color: #ede6e2;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 5px #ede6e2; /* Add this line to create a subtle border */
}

.nav-tabs {
    text-align: center;
    background-color: #5b5a5a; 
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 0;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
}

.sidebar li {
    padding: 10px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.collapse-btn, .logout {
    width: 80%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
 .logout {
            background-color: #a08b82;
            color: white;
        }

.logout i {
    margin-right: 10px;
}
header {
    position: fixed; /* Set position to fixed */
    top: 0; /* Set top to 0 to align with the top of the page */
    left: 250px; /* Set left to 250px to align with the end of the sidebar */
    width: calc(100% - 250px); /* Set width to fill the remaining space */
    background-color: #ffffff; /* White background color */
    color: grey;
    display: flex;
    align-items: center;
    padding: 0.5em 20px;
    justify-content: space-between;
    height: 64px; /* Fixed header height */
    margin-bottom: 20px;
    border-bottom: 3px solid #ccc; /* Optional: add a bottom border for separation */
    z-index: 1000; /* Add this line to bring the header to the front */
}


.brand-name {
    font-size: 1.5em;
    flex-grow: 1;
    text-align: left;
     color: #1a1414;
}

.user-profile {
    display: flex;
    align-items: center;
    color: #1a1414;
}

.user-profile span {
    margin-right: 10px;
     color: #1a1414;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.content-container {
 margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background-color: #f4f4f4;
}
.container{
    padding: 80px 20% 100px 20%;
}
.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tablink {
    background-color: #ddd;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    flex: 1;
    text-align: center;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: #644537;
    color: white;
}

.tabcontent {
    display: none;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.edit-pic-btn {
    background-color: transparent;
    border: none;
    margin-right: 30px;
    font-size: 15px;
    color: #872C00;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-btn {
       background-color: #644537;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 30%;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
        }

.save-btn:hover {
    background-color: #b75b2e;
}


